<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>302206623214-4nfi17s485s0oq9rg38h2ja3il75628g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.302206623214-4nfi17s485s0oq9rg38h2ja3il75628g</string>
	<key>API_KEY</key>
	<string>AIzaSyCkXGNV8VwHnbxMpRA3iC--6fk5YKWVH0g</string>
	<key>GCM_SENDER_ID</key>
	<string>302206623214</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialx.socialx</string>
	<key>PROJECT_ID</key>
	<string>socialx-3aa13</string>
	<key>STORAGE_BUCKET</key>
	<string>socialx-3aa13.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:302206623214:ios:1603afe08ad9aaacfdc2ff</string>
</dict>
</plist>